extends layout

block content
  header
    h1= title
  nav
    ul
      li Site01
      li Site02
      li Site03
  div(class="container")
    h4 placeholder
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui odit illum libero delectus culpa ab enim porro modi dicta reprehenderit vitae, ad deleniti harum eaque!

